
{% extends "core/base.html" %}
{% load static %}
{% block content %}
<style>
    .show-less {
        -webkit-line-clamp: 3 !important;
    }
</style>
<link rel="stylesheet" href="{% static 'statics/css/74c8e7dfbc-wishlistpage_css.css' %}">

{% comment %} <link rel="stylesheet" href="{% static 'statics/css/74c8e7dfbc-wishlistpage_css.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'statics/css/7067e5891a-upload_download_css.css' %}"> {% endcomment %}
    <div id="page" class="wrapper uploaddownload-page ">
        <article id="content" class="content-wrapper">
            <div id="main-section" class="section-wrapper content-attention section-banner">
                <section class="section-entry-header">
                    <h1>Downloads</h1>
                    {% if order_items is None %}
                    <p>There are no documents in your Downloads yet. Go find the best study documents to pass your exams in Stuvia's extensive offering of over 500,000 study guides, notes, summaries.</p>
                    {% endif %}
                </section>
                <section class="section-book-lists section-book-lists-wishlist section-item">
                    <div id="user-wishlist-content" class="listing-grid">
                        {% for item in order_items  %}

                        {% if item.doc_type == 'product' %}                                
                        <div class="listgrid-item row-wishlist row-wishlist-3236146-1">
                            <div class="grid-list">
                                <div class="icon-preview">
                                    {% if item.product.image %}
                                    <img loading="lazy" src="{{item.product.image.url}}" class="lozad image-boek item-image">
                                    {% else %}
                                    <img loading="lazy" src=" {% static 'statics/img/essentie_focus.png' %}" class="lozad image-boek item-image">
                                    {% endif %}
                                </div>
                                <div class="desc-preview">
                                    <h4 class="title-preview"><a href="{% url 'purchased_product' item.content_object.category.slug item.content_object.slug %}">{{item.content_object.title}} </a></h4> 
                                    <div class="excerpt-desc">
                                        <p calss="show-less">{{item.content_object.description|safe}}</p>
                                        <div class="information-item">
                                            <ul class="details">
                                                {% if item.content_object.product.user.image %}
                                                    <li class="info-author-img"><img class="user-image" src="{{item.content_object.product.user.image.url}}"></li>
                                                    {% else %}
                                                    <li class="info-author-img"><img class="user-image" src="{% static '/statics/img/user_icon.png' %}"></li>
                                                    {% endif %}
                                                {% comment %} <li class="info-author-img"><img class="user-image" src="{{item.content_object.image.url}}"></li> {% endcomment %}
                                                <li class="info-author right">By </li>
                                                <li class="info-author"><span class="author-name"> {{item.content_object.user}} </span></li>
                                                <li class="bold-dot"> • </li>
                                                
                                                <li class="info-category-objectType info-category"> {{item.content_object.category}} </li>
                                                <li class="dot"> • </li>
                                                <li class="count-pagina">{{item.content_object.num_pages}}
                                                    pages
                                                    •&nbsp;
                                                </li>
                                                <div class="ratings">
                                                    <ul class="star-rates">
                                                        {% for value in "12345" %}
                                                        {% if value|add:"0" <= item.average_rating %}
                                                        <li><i class="star-review star-gold fas fa-star"></i></li>
                                                        {% else %}
                                                        <li><i class="star-review star-grey fas fa-star"></i></li>
                                                        {% endif %}
                                                    {% endfor %}                                                    
                                                    </ul>
                                                </div>
                                                <li class="dot"> • </li>
                                                <li class="info-category-amount-reviews"> ({{item.average_rating}}) </li>
                                                <li class="dot"> • </li>
                                                {% if product.price is not None and product.price != 0.0 %}
                                                <li class="info-category-price-item"> $ {{item.content_object.price}}</li>
                                                        {% else %}
                                                        <li class="info-category-price-item"> Free</li>
                                                        {% endif %}
                                                <li class="dot"> • </li>
                                                {% if item.committed %}
                                                <li class="info-category-price-item"><a><span style="color:#199be9" onclick='openModal({{item.content_object.id}},"{{item.content_object.title}}")'>Write Review</span></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>                                
                            </div>
                        </div>
                        {% endif %}
 
                        {% if item.doc_type == 'question_answer' %}                             
                        <div class="listgrid-item row-wishlist row-wishlist-3236146-1">
                            <div class="grid-list">
                                <div class="icon-preview">
                                    {% if item.product.image %}
                                    <img loading="lazy" src="{{item.product.image.url}}" class="lozad image-boek item-image">
                                    {% else %}
                                    <img loading="lazy" src=" {% static 'statics/img/essentie_focus.png' %}" class="lozad image-boek item-image">
                                    {% endif %}
                                </div>
                                <div class="desc-preview">
                                    <h4 class="title-preview"><a href="{% url "question_purchased" item.content_object.product.category.slug item.content_object.slug %}">{{item.content_object.title}} </a></h4>
                                    <div class="excerpt-desc">
                                        <p class="show-less">{{item.cleaned_text|safe}}</p>
                                        <div class="information-item">
                                            <ul class="details">
                                                {% if item.content_object.product.user.image %}
                                                    <li class="info-author-img"><img class="user-image" src="{{item.content_object.product.user.image.url}}"></li>
                                                    {% else %}
                                                    <li class="info-author-img"><img class="user-image" src="{% static '/statics/img/user_icon.png' %}"></li>
                                                    {% endif %}
                                                {% comment %} <li class="info-author-img"><img class="user-image" src="{{item.content_object.product.image.url}}"></li> {% endcomment %}
                                                <li class="info-author right">By </li>
                                                <li class="info-author"><span class="author-name"> {{item.content_object.user}} </span></li>
                                                <li class="bold-dot"> • </li>
                                                <div class="ratings">
                                                    <ul class="star-rates">
                                                        {% for value in "12345" %}
                                                        {% if value|add:"0" <= item.average_rating %}
                                                        <li><i class="star-review star-gold fas fa-star"></i></li>
                                                        {% else %}
                                                        <li><i class="star-review star-grey fas fa-star"></i></li>
                                                        {% endif %}
                                                    {% endfor %}                                                    
                                                    </ul>
                                                </div>
                                                <li class="dot"> • </li>
                                                <li class="info-category-amount-reviews"> ({{item.average_rating}}) </li>
                                                <li class="dot"> • </li>
                                                <li class="info-category-price-item"> $ {{item.content_object.price}}</li>
                                                <li class="dot"> • </li>
                                                {% if item.committed %}
                                                <li class="info-category-price-item"><a><span style="color:#199be9" onclick='openModal1({{item.content_object.id}},"{{item.content_object.title}}")'>Write Review</span></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>                                
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if item.doc_type == 'bundle' %}
                            {% for product in item.content_object.product.all %}
                            <div class="listgrid-item row-wishlist row-wishlist-3236146-1">
                                <div class="grid-list">
                                    <div class="icon-preview">
                                        {% if product.image %}
                                        <img loading="lazy" src="{{product.image.url}}" class="lozad image-boek item-image">
                                        {% else %}
                                        <img loading="lazy" src=" {% static 'statics/img/essentie_focus.png' %}" class="lozad image-boek item-image">
                                        {% endif %}
                                    </div>
                                    <div class="desc-preview">
                                        <h4 class="title-preview"><a href="{% url 'purchased_product' product.category.slug product.slug %}">{{product.title}} </a></h4> 
                                        <div class="excerpt-desc">
                                            <p calss="show-less">{{product.description|safe}}</p>
                                            <div class="information-item">
                                                <ul class="details">
                                                    {% if product.user.image %}
                                                    <li class="info-author-img"><img class="user-image" src="{{product.user.image.url}}"></li>
                                                    {% else %}
                                                    <li class="info-author-img"><img class="user-image" src="{% static '/statics/img/user_icon.png' %}"></li>
                                                    {% endif %}
                                                    <li class="info-author right">By </li>
                                                    <li class="info-author"><span class="author-name"> {{product.user}} </span></li>
                                                    <li class="bold-dot"> • </li>
                                                    <li class="info-category-objectType info-category"> {{product.category}} </li>
                                                    <li class="dot"> • </li>
                                                    <li class="count-pagina">{{product.num_pages}}
                                                        pages
                                                        •&nbsp;
                                                    </li>
                                                    <div class="ratings">
                                                        <ul class="star-rates">
                                                            {% for value in "12345" %}
                                                    {% for product_id, ratings_dict in product_ratings.items %}
                                                        {% if product_id == product.id %}
                                                            {% if value|add:"0" <= ratings_dict.average_rating %}
                                                                <li><i class="star-review star-gold fas fa-star"></i></li>
                                                            {% else %}
                                                                <li><i class="star-review star-grey fas fa-star"></i></li>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                                                                                          
                                                        </ul>
                                                    </div>
                                                    <li class="dot"> • </li>
                                                    {% for product_id, ratings_dict in product_ratings.items %}
                                                        {% if product_id == product.id %}
                                                        <li class="info-category-amount-reviews"> ({{ratings_dict.count_rating}}) </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <li class="dot"> • </li>
                                                    <li class="info-category-price-item"> $ {{product.price}}</li>
                                                    <li class="dot"> • </li>
                                                    {% for product_id, ratings_dict in product_ratings.items %}
                                                        {% if product_id == product.id %}
                                                            {% if ratings_dict.committed %}
                                                            <li class="info-category-price-item"><a><span style="color:#199be9" onclick='openModal({{product.id}},"{{product.title}}")'>Write Review</span></a></li>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>                                
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}

                        {% endfor %}
                    </div>
                </section>
                <section class="section-item section-banner">
                    <div class="img-search-block">
                        <div class="search-form user-downloads-search-autocomplete-js">
                            <form method="get" action="/search" id="search-index-new">
                                <input type="text" name="s" class="search-input no-doc-no-bundle" autocomplete="off" placeholder="Search for courses, books, exams, or assignments" data-location="user-downloads">
                                <input type="hidden" name="origin" value="user-downloads">
                                <button type="submit" class="homepage-search-submit">
                                <i class="homepage-search-icon fas fa-search"></i>
                                </button>
                                <span class="close-input"><i class="fas fa-times"></i></span>
                                <div class="autocomplete-search">
                                    <div class="ajax-suggestion-wrapper">
                                        <div class="search-query">
                                            <a class="suggestion-search" href="#">
                                            <span class="all-results-text"></span>
                                            (<span class="search-suggestion-total"></span>)&nbsp;
                                            <i class="suggestion-search-arrow fas fa-long-arrow-right"></i>
                                            </a>
                                            <label>Studies, courses, subjects, and textbooks for your search:</label>
                                        </div>
                                        <div class="match-query"></div>
                                        <span class="info-autocomplete">
                                        Press Enter &nbsp;&nbsp;<i class="far fa-level-down fa-rotate-90"></i>&nbsp;&nbsp; to view all search results (<span class="search-suggestion-total"></span>)
                                        </span>
                                    </div>
                                    <div class="spinner-wrapper">
                                        <i class="fas fa-circle-notch fa-spin"></i>
                                    </div>
                                    <div class="empty-state">
                                        <span class="no-results-text"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <!-- nav number -->
<div id="page" class="wrapper content-page" style="">
    <article class="site-article content-attention " style="justify-content: center;">
        <div id="content" class="section-results ">
            <section class="section-content-wrapper section-listing-filters has-overlay">

                
                <div class="listing-filters-grid" id="main-section">
                    <nav class="navigation-section">
                        <ul class="list-navigation">
                            {% if products.has_previous %}
                            
                            <li class="nav-item"><a href="{{ request.path }}?page=1" aria-label="First" class="link-on back-item"><i class="fal fa-angle-left"></i><i class="fal fa-angle-left"></i></a></li>
                            <li class="nav-item"><a href="{{ request.path }}?page={{ products.previous_page_number }}" aria-label="Previous" class="link-on back-item"><i class="fal fa-angle-left"></i></a></li>
                            {% endif %}
                            
                            {% for page in products.paginator.page_range %}
                                {% if products.number == page %}
                                <li class="nav-item"><a href="{{ request.path }}?page={{ page }}" class="current pagination-item" aria-label="Page {{ page }}">{{ page }}</a></li>
                                {% else %}
                                <li class="nav-item"><a href="{{ request.path }}?page={{ page }}" class="pagination-item" aria-label="Page {{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            {% if products.has_next %}
                            <li class="nav-item"><a href="{{ request.path }}?page={{ products.next_page_number }}" aria-label="Next" class="link-on next-item"><i class="fal fa-angle-right"></i></a></li>
                            <li class="nav-item"><a href="{{ request.path }}?page={{ products.paginator.num_pages }}" aria-label="Last" class="link-on next-item"><i class="fal fa-angle-right"></i><i class="fal fa-angle-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
    </article>
</div>
            </div>
        </article>
    </div>
    <div id="modalOverlay" class="modal-overlay">
        <div id="modalContent" class="modal-content">
            
            <form method="POST" action='' id='product_id'>
                {% csrf_token %}
            <span class="close closebtnmodel" onclick="closeModal()">&times;</span>
            <input type="hidden" name='user' id='modeluser' value='{{request.user}}'>
            <h4 id="model_title"></h4>
            <p>How much you want to give review to This ?</p>
            <h6 style="text-align: center;">
                <input type="hidden" name="rating" id="ratingInput" value="0">
                <span class="star" data-value="1">★</span>
                <span class="star" data-value="2">★</span>
                <span class="star" data-value="3">★</span>
                <span class="star" data-value="4">★</span>
                <span class="star" data-value="5">★</span>
            </h6>
            <textarea name='description' style=""></textarea>
            <button class='ratingbtn' type='submit'>Submit</button>
            </form>
        </div>
    </div>
        
      <style>
        textarea{
            font-size: large;
            width: -webkit-fill-available;
            height: 90;
        }
        .star {
            font-size: 24px;
            cursor: pointer;
            }
            .star.selected {
            color: gold;
            }
            .star1 {
            cursor: pointer;
            }
            .star1.selected {
            color: gold;
            }
            .ratingbtn{
            padding: 5px;
            margin: 5px;
            border-radius: 10px;
            background: #199be9;
            color: white;
            float: inline-end;
            }
        #model_title{
            padding-bottom: 1rem;
        }
        .modal-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
            z-index: 1000; /* Ensure the overlay is above other content */
          }
          
          .modal-content {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            z-index: 1001; /* Ensure the modal content is above the overlay */
          }
          
          .close {
            font-weight: bold;
            font-size: xx-large;
            position: absolute;
            top: -30px;
            right: -10px;
            cursor: pointer;
            color: #199be9;
          }
            
    </style>
    <script>            
        document.addEventListener('DOMContentLoaded', function() {
            const stars = document.querySelectorAll('.star');
            const ratingInput = document.getElementById('ratingInput');
            const ratingForm = document.getElementById('ratingForm');
        
            stars.forEach(function(star) {
                star.addEventListener('click', function() {
                    const value = parseInt(star.dataset.value);
                    console.log('Submitting form');
                    ratingInput.value = value; 
                    stars.forEach(function(s) {
                        if (parseInt(s.dataset.value) <= value) {
                            s.classList.add('selected');
                        } else {
                            s.classList.remove('selected');
                        }
                    });
                event.preventDefault();
                submitForm();
                });
                
            });
        
            ratingForm.addEventListener('submit', function(event) {
                console.log('Submitting');
                event.preventDefault();
                submitForm();
            });
        
            function submitForm() {
                console.log('Submitting form');
                ratingForm.submit(); 
            }
        });
        
    </script> 
    <script>
        function openModal(modalId, title) {
            const targetModal = document.getElementById('modalOverlay');
            document.getElementById('model_title').innerText = title;
            document.getElementById('product_id').action = '/rate-product/'+modalId+'/';
            targetModal.style.display = 'block';
          }
          function openModal1(modalId, title) {
            const targetModal = document.getElementById('modalOverlay');
            document.getElementById('model_title').innerText = title;
            document.getElementById('product_id').action = '/rate-answer/'+modalId+'/';
            targetModal.style.display = 'block';
          }
          
          function closeModal() {
            document.getElementById('modalOverlay').style.display = 'none';
          }          
    </script>
    
    <script defer="" type="text/javascript" src=" {% static 'statics/js/1d32c2cbb2-app.js' %}"></script>
    <script defer="" type="text/javascript" src=" {% static 'statics/4d94a262ca-wishlistpage.js' %}"></script>

{% endblock content %}