{% extends "core/base.html" %}
{% load static %}

{% block content %}

        <link rel="stylesheet" href="{% static 'statics/css/35e90a5c2d-userpage_css.css'%}">
        <div id="app" data-country="214" class="">
            <div id="page" class="wrapper profile-page" data-userid="1937696">
                <article id="content" class="content-wrapper">
                    <aside class="sidebar-wrapper">
                        <div class="sidebar-section profile-section">
                            <div class="profile-identity">
                                <figure class="photo-identity">
                                    {% if profile.image %}
                                    <img src="{{profile.image.url}}" alt="Gravatar Profil">
                                    {% else %}
                                    <img src=" {% static 'statics/img/user_icon.png' %} " alt="Gravatar Profil">
                                    {% endif %}
                                </figure>
                                <div class="name-identity">
                                    <h3>{{profile.user}}</h3>
                                    <label>{{output}}</label>
                                </div>
                            </div>
                            <ul class="track-background">
                            </ul>
                            <div class="history-profile">
                                <ul>
                                    <li>
                                        <label class="reputation-label">
                                            {{total_active}}
                                        <span class="stuvia-tooltip">Total Number of document that has been Uploaded by User. </span>
                                        </label>
                                        <span>Total Docs</span>
                                    </li>
                                    <li>
                                        <label>{{total_purchased}}</label>
                                        <span>Sold</span>
                                    </li>
                                </ul>
                                <p class="last-sold">Last item sold:
                                    {% if latest_sale %}
                                    <strong> {{latest_sale.updated_at|timesince}} ago</strong>
                                    {% else %}
                                    <strong> - </strong>
                                    {% endif %}
                            </p>
                            </div>
                            <div class="cta-message">
                                <a href="/messages?sendto={{profile.user}}" title="Send message to Seller">Send Message</a>
                            </div>
                        </div>
                    </aside>
                    <div id="main-section" class="section-wrapper content-attention">
                        {% if profile.shoptitle %}
                        <section class="section-entry-header section-entry-box">
                            <div>
                                <h1 class="title-text">{{profile.shoptitle}}</h1>
                                <p class="description-text">{{profile.shopdescription}}</p>
                            </div>
                        </section>
                        {% endif %}
                        <section class="section-latest-lists section-item">
                            <div class="header-gridlists" bis_skin_checked="1">
                                <h3><strong class="serif-font" id="amount-products">{{total_active}}</strong> items</h3>
                                <div class="search-lists" bis_skin_checked="1">
                                    <input type="text" placeholder="Search for documents..." class="input-search" id="search-input-userpage">
                                    <button id="search-input-submit" value="" class="submit-search"><i class="fas fa-search"></i></button>
                                </div>
                                
                                
                            </div>
                            <div class="listing-grid" id="content-results" bis_skin_checked="1">
                                {% if total_active > 0 %}
                                {% for product in products %}
                                <div class="listgrid-item" bis_skin_checked="1">
                                    <a title="{{product.title}} " class="grid-list" rel="nofollow">
                                        <div class="icon-preview" bis_skin_checked="1">
                                            {% if product.image %}
                                            <img src="{{product.image.url}}" class="image-boek" alt="Gravatar Profil">
                                            {% else %}
                                            <img src=" {% static 'statics/img/essentie_focus.png' %} " class="image-boek" alt="Gravatar Profil">
                                            {% endif %}
                                        </div>
                                        <div class="desc-preview" bis_skin_checked="1">
                                            <h4 class="hit-url" data-url="{% url 'product_detail' product.category.slug product.slug %}">{{product.title}}</h4>
                                            <div class="info-desc" bis_skin_checked="1">                                                
                                                {% if product.price > 0.0 %}
                                                <span class="prices">${{product.price}}</span>
                                                {% else %}
                                                <span class="prices">Free</span>
                                                {% endif %}
                                                <div class="downloads" bis_skin_checked="1">
                                                    <span class="count-downloads">{{product.purchased}}x &nbsp;sold</span>
                                                </div>
                                            </div>
                                            <div class="excerpt-desc" bis_skin_checked="1">
                                                <p>{{product.description|safe}}
                                                </p>
                                                <div class="information-book" bis_skin_checked="1">
                                                    <div class="cta-detail desktop" bis_skin_checked="1">
                                                        <span class="open-detail">i</span>
                                                        <span class="close-detail">x</span>
                                                    </div>
                                                    <ul class="details">
                                                        <li class="info-category">{{product.category}}</li>
                                                        <li class="count-pagina">&nbsp;• {{product.num_pages}}
                                                            pages
                                                            •&nbsp;
                                                        </li>
                                                        <li class="info-author">by <span class="name-author">{{product.user}}</span>&nbsp;•&nbsp;</li>
                                                        <li class="info-author">uploaded <span class="name-author">&nbsp;{{product.created_at|timesince}} ago</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="quickview-doc" data-id="{{product.id}}" data-type="1" data-loaded="false">
                                            <div class="cta-preview desktop" bis_skin_checked="1">
                                                <span class="inner-cta">
                                                <i class="fal fa-eye"></i>
                                                <span class="title-preview hover-act">Quick View</span>
                                                </span>
                                            </div>
                                        </span>
                                        <span class="cta-cart desktop add-item-to-shoppingcart shoppingcart-circle" data-id="{{product.id}}" data-type="document" data-upselling-bundle="" data-country-seller="214" data-price="${{product.price}}" data-currency="USD" data-language="en" data-downloads="0" data-views="3" data-rating="0.00" data-content-contained-amount="489" onclick="addurl('note', {{product.id}})">
                                        <i class="hover-act add-to-cart-icon far fa-shopping-cart fa-flip-horizontal"></i>
                                        </span>
                                    </a>
                                    <div class="list-cta mobile" bis_skin_checked="1">
                                        <span class="info-wrapper wrapper">
                                        <span class="open">i</span>
                                        <span class="close">x</span>
                                        </span>
                                        
                                        {% if product.price > 0.0 %}
                                        <span class="cart-wrapper wrapper add-item-to-shoppingcart" data-id="{{product.id}}" onclick="addurl('note', {{product.id}})">
                                            <i class="hover-act far fa-shopping-cart fa-flip-horizontal"></i>
                                            </span>
                                        {% else %}
                                        <span class="cart-wrapper wrapper add-item-to-shoppingcart" data-id="{{product.id}}" onclick="addurl_pur('note', {{product.id}})">
                                            <i class="hover-act far fa-heart fa-flip-horizontal"></i>
                                            </span>
                                        {% endif %}
                                        <a href="{% url 'product_detail' product.category.slug product.slug %}" title="{{product.title}}" class="goto-wrapper wrapper" rel="nofollow">
                                        <i class="fas fa-long-arrow-right"></i>
                                        </a>
                                    </div>
                            
                                    {% if product.dummy_file %}
                                    <input type="hidden" id="iframe-src-doc-{{product.id}}" value="{{product.dummy_file.url}}">
                                    {% else %}
                                    <input type="hidden" id="iframe-src-doc-{{product.id}}" value="">
                                    {% endif %}                                   
                                    <div id="iframe-doc-{{product.id}}" class="display-none quickview-content" bis_skin_checked="1">
                                        <div class="popup-wrapper" bis_skin_checked="1">
                                            <!-- Popup Quick view -->
                                            <div class="popup-quickview inner-popup" bis_skin_checked="1">
                                                <div class="popup-content" bis_skin_checked="1">
                                                    <div class="view-product" bis_skin_checked="1">
                                                        <p>Preview {{product.show_pages}} out of {{product.num_pages}} pages</p>
                                                        
                                                        {% if product.price > 0.0 %}
                                                        <a href="{% url "add-to-cart" product_type='note' product_id=product.id %}" class="btn-fill-blue cta-buy cursor-pointer header-buy-btn add-item-to-shoppingcart" data-type="" data-id="" data-upselling-bundle="" data-amp-location=" page (header button)" data-user-status="yes" data-country-seller="214" data-price="${{product.price}}" data-currency="USD" data-language="en" data-downloads="0" data-views="3" data-rating="0.00" data-content-contained-amount="489" rel="nofollow">
                                                            <i class="far fa-shopping-cart fa-flip-horizontal buyblock-icon"></i>&nbsp; Add to cart
                                                            </a>
                                            {% else %}
                                            <a href="{% url "add-to-purchased" product_type='note' product_id=product.id %}" class="btn-fill-blue cta-buy cursor-pointer header-buy-btn add-item-to-shoppingcart" data-type="" data-id="" data-upselling-bundle="" data-amp-location=" page (header button)" data-user-status="yes" data-country-seller="214" data-price="${{product.price}}" data-currency="USD" data-language="en" data-downloads="0" data-views="3" data-rating="0.00" data-content-contained-amount="489" rel="nofollow">
                                                <i class="far fa-heart fa-flip-horizontal buyblock-icon"></i>&nbsp; Add to Save
                                                </a>
                                            
                                            {% endif %}
                                                        <div class="image-view" id="preview-{{product.id}}" bis_skin_checked="1">
                                                        </div>
                                                    </div>
                                                    <div class="info-product" bis_skin_checked="1">
                                                        <div class="info-desc" bis_skin_checked="1">
                                                            <span class="serif-title">Other</span>
                                                            
                                                        </div>
                                                        <span class="popup-title serif-title">{{product.title}}</span>
                                                        <span class="text-entry-product time-since time-since-{{product.id}}">
                                                        Last document update:
                                                        <span class="time-since-count tsc-{{product.id}}"></span>&nbsp;
                                                        <span class="time-since-unit tsu-{{product.id}}"></span>
                                                        ago
                                                        </span>
                                                        <p class="text-entry-product">{{product.description}}
                                                        </p>
                                                        <div class="cta-view-product" bis_skin_checked="1">
                                                            <div class="currencyof-product" bis_skin_checked="1">
                                                                <span itemprop="price">${{product.price}}</span>
                                                                <link itemprop="availability" href="http://schema.org/InStock">
                                                            </div>
                                                            <a href="{% url "add-to-cart" product_type='note' product_id=product.id %}" class="btn-fill-blue cta-buy add-item-to-shoppingcart cursor-pointer cta-view-product-buy add-to-cart-qv-{{product.id}}-document " data-id="{{product.id}}" data-type="document" data-amp-location=" Quickview " data-user-status="yes" data-upselling-bundle="" data-country-seller="214" data-price="$50.99" data-currency="USD" data-language="en" data-downloads="0" data-views="3" data-rating="0.00" data-content-contained-amount="489" rel="nofollow">
                                                            <i class="far fa-shopping-cart fa-flip-horizontal"></i>&nbsp;
                                                            Add to cart
                                                            </a>
                                                            
                                                        </div>
                                                        <div class="show-more-quickview" bis_skin_checked="1">
                                                            <a href="{% url 'product_detail' product.category.slug product.slug %}" class="  show-more-clicked" rel="nofollow">
                                                            Show more info <i class="fa fa-long-arrow-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </section>
                    </div>
                </article>
            </div>
        </div>
        <div id="page" class="wrapper content-page" style="">
            <article class="site-article content-attention " style="justify-content: center;">
                <div id="content" class="section-results ">
                    <section class="section-content-wrapper section-listing-filters has-overlay">
        
                        
                        <div class="listing-filters-grid" id="main-section">
                            <nav class="navigation-section">
        
                                {% comment %} <ul class="list-navigation">
                                    <li class="nav-item">
                                        <a href="{% if products.has_previous %}{{ request.path }}?page={{ products.previous_page_number }}{% else %}{{ request.path }}{% endif %}" class="link-on back-item" data-page="1" aria-label="Previous page"><i class="fal fa-angle-left"></i></a>
                                    </li>
                                    {% for page_num in products.paginator.page_range %}
                                    <li class="nav-item">
                                        {% if products.number == page_num %}
                                        <a href="{{ request.path }}?page={{ page_num }}" class="current pagination-item">{{ page_num }}</a>
                                        {% else %}
                                        <a href="{{ request.path }}?page={{ page_num }}" class="pagination-item">{{ page_num }}</a>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                    <li class="nav-item">
                                        <a href="{{ request.path }}?page={{ products.paginator.last }}" class="link-on next-item" data-page="{{ products.paginator.last }}" rel="nofollow" aria-label="Next Page"><i class="fal fa-angle-right"></i></a>
                                    </li>
                                </ul> {% endcomment %}
                                <ul class="list-navigation">
                                    {% if products.has_previous %}
                                    
                                    <li class="nav-item"><a href="{{ request.path }}?page=1" aria-label="First" class="link-on back-item"><i class="fal fa-angle-left"></i><i class="fal fa-angle-left"></i></a></li>
                                    <li class="nav-item"><a href="{{ request.path }}?page={{ products.previous_page_number }}" aria-label="Previous" class="link-on back-item"><i class="fal fa-angle-left"></i></a></li>
                                    {% endif %}
                                    
                                    {% for page in products.paginator.page_range %}
                                        {% if products.number == page %}
                                        <li class="nav-item"><a href="{{ request.path }}?page={{ page }}" class="current pagination-item" aria-label="Page {{ page }}">{{ page }}</a></li>
                                        {% else %}
                                        <li class="nav-item"><a href="{{ request.path }}?page={{ page }}" class="pagination-item" aria-label="Page {{ page }}">{{ page }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    
                                    {% if products.has_next %}
                                    <li class="nav-item"><a href="{{ request.path }}?page={{ products.next_page_number }}" aria-label="Next" class="link-on next-item"><i class="fal fa-angle-right"></i></a></li>
                                    <li class="nav-item"><a href="{{ request.path }}?page={{ products.paginator.num_pages }}" aria-label="Last" class="link-on next-item"><i class="fal fa-angle-right"></i><i class="fal fa-angle-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </section>
                </div>
            </article>
        </div>
        <script defer="" type="text/javascript" src="{% static 'statics/js/c38bfd2f53-app.js'%}"></script>
        <script defer="" type="text/javascript" src="{% static 'statics/js/3d62566d1f-userpage.js'%}"></script>

        <script>
            // Attach event listener to dynamically generated elements
            document.addEventListener('DOMContentLoaded', function() {
                // Select all elements with the class 'hit-url'
                var hitUrlElements = document.querySelectorAll('.hit-url');
        
                // Loop through each hitUrlElement
                hitUrlElements.forEach(function(hitUrlElement) {
                    // Attach click event listener
                    hitUrlElement.addEventListener('click', function() {
                        // Get the data-url attribute value
                        var url = this.getAttribute('data-url');
                        // Redirect to the URL
                        window.location.href = url;
                    });
                });
            });
        </script>
        <script>
    document.addEventListener("DOMContentLoaded", function() {
        var button = document.getElementById("smallsearchbox");
        button.addEventListener("click", function() {
            // Toggle the 'active' class on the button
            button.classList.toggle("active");
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
        var button = document.getElementById("navmanubtn");
        button.addEventListener("click", function() {
            // Toggle the 'active' class on the button
            var butt = document.getElementById("sidnavbar");
            butt.classList.toggle("active");
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
        var button = document.getElementById("mobile-header-close-action");
        button.addEventListener("click", function() {
            // Toggle the 'active' class on the button
            var butt = document.getElementById("sidnavbar");
            butt.classList.toggle("active");
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
        var button = document.getElementById("header-cart");
        button.addEventListener("click", function() {
            // Toggle the 'active' class on the button
            button.classList.toggle("active");
        });
    });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var searchInput = document.getElementById('search-input-userpage');
    
            searchInput.addEventListener('input', function() {
                var filter = this.value.toLowerCase();
                var productItems = document.querySelectorAll('.listgrid-item');
    
                productItems.forEach(function(item) {
                    var productTitle = item.querySelector('.hit-url').textContent.toLowerCase();
                    if (productTitle.includes(filter)) {
                        item.style.display = '';
                    } else {
                        item.style.display = 'none';
                    }
                });
            });
        });
    </script>
        {% comment %} <script defer="" type="text/javascript" src="https://www.stuvia.com/statics/c38bfd2f53-app.js"></script>
        <script defer="" type="text/javascript" src="https://www.stuvia.com/statics/3d62566d1f-userpage.js"></script> {% endcomment %}
        {% endblock content %}