{% extends "core/base.html" %}
{% load static %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('search-document-practicequest');
        const listingItems = document.querySelectorAll('.listing-grid');
    
        searchInput.addEventListener('input', function () {
            const searchTerm = this.value.toLowerCase();
    
            listingItems.forEach(function (item) {
                const title = item.querySelector('.title-preview').innerText.toLowerCase();
                if (title.includes(searchTerm)) {
                    item.style.display = 'block';  // Show the item
                } else {
                    item.style.display = 'none';   // Hide the item
                }
            });
        });
    });
    
</script>
<style>
    .upload-form {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .filter-document-practicequest .input-field {
        margin-bottom: 10px;
    }
    .upload-form .input-field {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    .upload-form .title-field {
        display: block;
        color: #272e5d;
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
.upload-form .input-field.search-field input {
padding-right: 30px;
}

.upload-form .input-field input, .upload-form .input-field textarea {
color: #199be9;
}
.upload-form input[type=search], .upload-form input[type=text] {
width: 100%;
padding: 15px 20px;
}
.upload-form input {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
word-break: break-word;
}
.upload-form input, .upload-form textarea {
background-color: #fff;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
border: 1px solid #d1ebfb;
}
input {
font-size: 1em;
}
</style>

        <link rel="stylesheet" href="{% static 'statics/css/74c8e7dfbc-wishlistpage_css.css' %}">

        <div id="app" data-country="214" class="">

            <div id="page" class="wrapper uploaddownload-page  ">
                <article id="content" class="content-wrapper">
                    <div id="main-section" class="section-wrapper content-attention section-banner">
                        <section class="section-entry-header">
                            <h1>My Uploads</h1>
                            <p>Your Uploaded Documents</p>
                        </section>
                       
                        {% if total_active > 1%}
                        <section class="section-infobox section-increase-revenue">
                            <div class="thumbnail-infobox">
                                <img loading="lazy" src=" {% static 'statics/img/wind-doc.svg' %}">
                            </div>
                            <div class="content-infobox">
                                <h3 class="title-infobox">Increase your income by bundling your documents</h3>
                                <p>A bundle is a collection of documents sold for a single price. By bundling your documents you will help customers to purchase multiple documents in one transaction.</p>
                            </div>
                            <a href="{% url "create_bundle" %}" class="cta-infobox add-bundle-amp-js"><i class="fa fa-plus"></i>Create a package deal</a>
                        </section>
                        {% endif %}
                        <section class="section-book-lists section-book-lists-wishlist section-item">
                                    <div class="upload-form filter-document-practicequest">
                                        <div class="input-field search-field">
                                            <label class="title-field" for="search-document-practicequest">Search for documents</label>
                                            <input type="search" id="search-document-practicequest" class="search-uploads" placeholder="Search...">
                                        </div>
                                    </div>
                            {% for product in products %}
                            <div id="user-wishlist-content" class="listing-grid">
                                <div class="listgrid-item row-wishlist row-wishlist-3236146-1">
                                    <div class="grid-list">
                                        <div class="icon-preview">
                                            {% if product.image %}
                                            <img src="{{product.image.url}}" class="lozad image-boek item-image" alt="{{product.title}}">
                                            {% else %}
                                            <img src="{% static 'statics/img/essentie_focus.png' %}" class="lozad image-boek item-image" alt="{{product.title}}">
                                            {% endif %}
                                        </div>
                                        <div class="desc-preview">
                                            <h4 class="title-preview"><a href="{% url 'product_detail' product.category.slug product.slug %}">{{product.title}}  </a></h4>
                                            <div class="excerpt-desc">
                                                <p>{{product.description|safe}}</p>
                                                <div class="information-item">
                                                    <ul class="details">
                                                        <li class="bold-dot"> • </li>
                                                        <li class="info-author-institution"> {{product.institute}} </li>
                                                        <li class="bold-dot"> • </li>
                                                        <li class="info-category-objectType info-category"> {{product.category}} </li>
                                                        <li class="dot"> • </li>
                                                        <li class="count-pagina">{{product.num_pages}}
                                                            pages
                                                            •&nbsp;
                                                        </li>
                                                        {% comment %} <div class="ratings">
                                                            <ul class="star-rates">
                                                                <li><i class="star-review star-grey fas fa-star"></i></li>
                                                                <li><i class="star-review star-grey fas fa-star"></i></li>
                                                                <li><i class="star-review star-grey fas fa-star"></i></li>
                                                                <li><i class="star-review star-grey fas fa-star"></i></li>
                                                                <li><i class="star-review star-grey fas fa-star"></i></li>
                                                            </ul>
                                                        </div> {% endcomment %}
                                                        <li class="dot"> • </li>
                                                        <li class="info-category-amount-reviews"> ({{product.purchased}}) </li>
                                                        <li class="dot"> • </li>
                                                        {% if product.price is not None and product.price != 0.0 %}
                                                        <li class="info-category-price-item"> $ {{product.price}}</li>
                                                        {% else %}
                                                        <li class="info-category-price-item"> Free</li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="delete-wishlist ajax-delete-wishlist" >
                                            <div class="cta-preview desktop">
                                                <span class="inner-cta" style="width: auto;padding: 20px;">
                                                    {{product.status}}
                                                </span>
                                            </div>
                                        </span>
                                        <a href='{% url "edit_product" product.id %}'>
                                        <span title="Edit" class="cta-cart desktop add-item-to-shoppingcart shoppingcart-circle" data-id="3236146" data-type="document" data-amp-location="wishlistpage" data-country-seller="214" data-price="800" data-currency="GBP" data-language="en" data-downloads="4" data-views="17" data-rating="0.00" data-content-contained-amount="35">
                                            <i class="hover-act add-to-cart-icon far fa-cog fa-flip-horizontal"></i>
                                        </span></a>
                                    </div>
                                    <div class="list-cta mobile">
                                        
                                        <span class="cart-wrapper wrapper add-item-to-shoppingcart" style="width: auto;">
                                            {{product.status}}
                                        </span>
                                        <a href="{% url "edit_product" product.id %}" title="RE AQA GCSE Christianity and Islam model answers  " class="goto-wrapper wrapper">
                                            <i class="far fa-cog"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </section>
                    </div>
                </article>
            </div>
        </div>
        <div id="page" class="wrapper content-page" style="">
            <article class="site-article content-attention " style="justify-content: center;">
                <div id="content" class="section-results ">
                    <section class="section-content-wrapper section-listing-filters has-overlay">
        
                        
                        <div class="listing-filters-grid" id="main-section">
                            <nav class="navigation-section">
        
                                {% comment %} <ul class="list-navigation">
                                    <li class="nav-item">
                                        <a href="{% if products.has_previous %}{{ request.path }}?page={{ products.previous_page_number }}{% else %}{{ request.path }}{% endif %}" class="link-on back-item" data-page="1" aria-label="Previous page"><i class="fal fa-angle-left"></i></a>
                                    </li>
                                    {% for page_num in products.paginator.page_range %}
                                    <li class="nav-item">
                                        {% if products.number == page_num %}
                                        <a href="{{ request.path }}?page={{ page_num }}" class="current pagination-item">{{ page_num }}</a>
                                        {% else %}
                                        <a href="{{ request.path }}?page={{ page_num }}" class="pagination-item">{{ page_num }}</a>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                    <li class="nav-item">
                                        <a href="{{ request.path }}?page={{ products.paginator.last }}" class="link-on next-item" data-page="{{ products.paginator.last }}" rel="nofollow" aria-label="Next Page"><i class="fal fa-angle-right"></i></a>
                                    </li>
                                </ul> {% endcomment %}
                                <ul class="list-navigation">
                                    {% if products.has_previous %}
                                    
                                    <li class="nav-item"><a href="{{ request.path }}?page=1" aria-label="First" class="link-on back-item"><i class="fal fa-angle-left"></i><i class="fal fa-angle-left"></i></a></li>
                                    <li class="nav-item"><a href="{{ request.path }}?page={{ products.previous_page_number }}" aria-label="Previous" class="link-on back-item"><i class="fal fa-angle-left"></i></a></li>
                                    {% endif %}
                                    
                                    {% for page in products.paginator.page_range %}
                                        {% if products.number == page %}
                                        <li class="nav-item"><a href="{{ request.path }}?page={{ page }}" class="current pagination-item" aria-label="Page {{ page }}">{{ page }}</a></li>
                                        {% else %}
                                        <li class="nav-item"><a href="{{ request.path }}?page={{ page }}" class="pagination-item" aria-label="Page {{ page }}">{{ page }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    
                                    {% if products.has_next %}
                                    <li class="nav-item"><a href="{{ request.path }}?page={{ products.next_page_number }}" aria-label="Next" class="link-on next-item"><i class="fal fa-angle-right"></i></a></li>
                                    <li class="nav-item"><a href="{{ request.path }}?page={{ products.paginator.num_pages }}" aria-label="Last" class="link-on next-item"><i class="fal fa-angle-right"></i><i class="fal fa-angle-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </section>
                </div>
            </article>
        </div>
        <script defer="" type="text/javascript" src=" {% static 'statics/js/1d32c2cbb2-app.js' %}"></script>
        <script defer="" type="text/javascript" src=" {% static 'statics/js/4d94a262ca-wishlistpage.js' %}"></script>
        {% endblock content %}