{% extends "core/base.html" %}
{% load static %}
{% block extra_head %}
<style>
    .mega-menu{
        height:auto !important;
    }
    .solution-for-problem{
        color:#199be9 !important;
    }
</style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preload " href="{% static 'statics/c7854cfb58-bookpage_css.css'%}" as="style">
        <link rel="preload " href="{% static 'statics/6c493ca9e3-bookpage.js'%}" as="script">
        <link href="https://dsd5zvtm8ll6.cloudfront.net/includes/styles/rewamp/common/desktop_common_css.css?ver=1.6" rel="stylesheet"  type="text/css" >
<link href="https://dsd5zvtm8ll6.cloudfront.net/includes/styles/rewamp/common/desktop_all_common_fonts.css" rel="stylesheet"  type="text/css" >
<link rel="preload" href="https://dsd5zvtm8ll6.cloudfront.net/includes/styles/rewamp/common/footer/transparent_footer.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css">
<link href="https://dsd5zvtm8ll6.cloudfront.net/includes/styles/rewamp/common/desktop_colored_header.css?ver=1.2" rel="stylesheet"  type="text/css" >
<script src="https://dsd5zvtm8ll6.cloudfront.net/includes/styles/rewamp/common/desktop_common.js?ver=1.5.1" defer></script>
<script src="https://dsd5zvtm8ll6.cloudfront.net/includes/jscripts/desktop_functions_common_js.js" defer></script>
<script src="https://dsd5zvtm8ll6.cloudfront.net/includes/jscripts/desktop_colored_header_searchbar_2.js?ver=1.1" defer></script>
<script src="https://dsd5zvtm8ll6.cloudfront.net/includes/jscripts/rewamp/common/function_mobile_check.js" defer></script>
<link href="https://dsd5zvtm8ll6.cloudfront.net/includes/styles/rewamp/common/session_notification.css?ver=2.4" rel="stylesheet">
<link  rel="stylesheet" type="text/css"  href="https://dsd5zvtm8ll6.cloudfront.net/includes/styles/rewamp/book_detail_view/book_detail_view_css.css?ver=1.2">
<script src="https://dsd5zvtm8ll6.cloudfront.net/includes/jscripts/book_detail_view/book_detail_view_js.js" defer></script>
<style rel="stylesheet">
    .tab-content>.active {display:block !important}
    .related-question-section-heading{font-size:20px;font-weight:600;color:#333;border-bottom:1px solid #ccc;padding-bottom:5px;margin-top:10px}
    .q-icon,.qbq{position:absolute}
    .hrf_blk{color:#252424!important}
    .question-count{line-height:1.5;display:block}
    .wrd_rlt{margin-left:30px;margin-top:5px;font-weight:600;font-size:12px;width:100%}
    .tutor-info,.wrd_rlt{overflow:hidden!important;text-overflow:ellipsis}
    .wrd_rlt{white-space:nowrap}
    @media (min-width:200px) and (max-width:425px){.wrd_rlt{width:95%}}
    .qbq,.tphs-head{font-weight:700}
    .qbq{background:#6f9dd33d;border-radius:70%;padding:0 5px 5px;left: 0;}
    .related-question-statment-redesign{padding:8px}
    .related-question-section{margin-top: 10px;}
    @media (max-width:485px){.qbq{top:unset}}
    @media (max-width:768px){.related-question-section{padding: 0 10px}}
</style>
<script>
    window.addEventListener("load", function(){
    jQuery(document).ready(function($) {
    
                $.ajax({
            type: "POST",
            url: document.url,
            data: {
                insertView: true,
                ref_url: document.referrer
            },
            success:function(response){
            }
        });
        
        jQuery(function($) {
            jQuery('.top_searched_books').slick({
                infinite: true,
                slidesToShow: 6,
                slidesToScroll: 3,
                arrows: true,
                responsive: [
                    {
                        breakpoint: 1000,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                        }
                    }
                ]
            });
        });
    
        if (window.matchMedia('(max-width: 1000px)').matches) {
            $('.resp_cf_section').addClass('container');
        } else {
            $('.resp_cf_section').removeClass('container');
        }
    
        $(window).resize(function(){
            if ($(window).width() <= 1000){
                $('.resp_cf_section').addClass('container');
            }
            else {
                $('.resp_cf_section').removeClass('container');
            }
        });
    
        if (window.history.length <= 2) {
            $(".goBack").addClass('hidden');
        }
    
        var book_id = "92";
        var book_type = $('#usa_book_type').attr('value');
        var book_condition = $('#usa_book_condition').attr('value');
        var book_price_type = $('#usa_book_price_type').attr('value');
    
        $('#submit_btn_checkout').on('click',function () {
            book_type = $('#usa_book_type').attr('value');
            book_condition = $('#usa_book_condition').attr('value');
            book_price_type = $('#usa_book_price_type').attr('value');
            $('#submit_btn_checkout_loader').removeClass('hidden');
            $('#submit_btn_checkout').addClass('hidden');
            buyBookRedirection(book_id,book_type,book_condition,book_price_type);
        });
    
        $('#solution_btn_checkout').on('click',function () {
            redirectionLink(2)
        });
    
        $('#membership_btn_checkout').on('click',function () {
            $('#membership_btn_checkout_loader').removeClass('hidden');
            $('#membership_btn_checkout').addClass('hidden');
            redirectionLink(1);
        });
    
        function buyBookRedirection(book_id,book_type,book_condition,book_price_type){
            $.ajax({
                type: 'POST',
                url: document.URL,
                data: {
                    checkout_redirection:true,
                    book_id:book_id,
                    book_type:book_type,
                    book_condition:book_condition,
                    price_type:book_price_type,
                },
                beforeSend: function () {
                },
                success: function (response) {
                    /* $('.loading-overlay').hide(); */
                    var result = $.parseJSON(response);
                    if(result.type == '0'){
                        window.location.reload();
                    }
                    if(result.type == '1'){
                        $('.checkout_disp_errors').html('');
                        window.location.href = result.redirect_url;
                    }else{
                        $('.checkout_disp_errors').html(result.error_message);
                    }
                }
            });
        }
        $('.accordion a').click(function(){
            $(this).toggleClass('active');
            $(this).next('.content').slideToggle(400);
            $(this).next('.content').css('display','grid');
        });
    
        function redirectionLink(type){
            $.ajax({
                url:location.URL,
                type:"POST",
                data:{
                    redirection_type:type
                },success:function(res){
                    location.href = res;
                }
            });
        }
    
    
    });
    }, false);
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

        <link rel="stylesheet" href="{% static 'statics/css/c7854cfb58-bookpage_css.css' %}">
        {% endblock extra_head %}
        {% block content %}
    </head>
    <body class="site" data-token="YjZlNThlYmVlMTk5ZGQyZWM5YjcyZTI2MjBmMTZjMzE1YzRjZjM3NA==" data-country="214" data-language="en" data-logged-in="1" data-country-language-path="">
        <script defer="" type="text/javascript" src=" {% static 'statics/js/cbfd8adf36-analytics.js' %} "></script>

        <div id="app" data-country="214" class="">
            <div id="page" class="wrapper search-boek  " data-mp-isbn="9781118582589" data-mp-book-title="Becoming a Master Manager">
                <article id="content" class="content-wrapper wide-container">
                    <div id="main-section" class="section-book">
                        <div class="boek-section">
                            <div class="info-boek">
                                <div class="cover-boek">
                                    {% if products.image %}
                                    <img src="{{products.image.url}}" width="185" height="242" alt="book image">
                                    {% else %}
                                    <img src=" {% static 'statics/img/essentie_focus.png' %}" width="185" height="242" alt="book image">
                                    {% endif %}
                                </div>
                                <ul class="details-boek desktop">
                                    
                                    {% if products.isbn %} <li><span>ISBN</span><label>{{products.isbn}}</label></li>{% endif %}
                                    {% if products.author %}  <li><span>Author(s)</span><label>{{products.author}}</label></li>{% endif %}
                                    <li>
                                        <span>Language</span><label>English</label>
                                    </li>
                                    {% if products.publisher %}    <li>
                                        <span>Publisher</span><label>{{products.publisher}} </label>
                                    </li>{% endif %}
                                    {% if products.edition %}    <li>
                                        <span>Edition</span><label>{{products.edition}}</label>
                                    </li>{% endif %}
                                </ul>
                            </div>
                            <div class="desc-boek">
                                <h1>{{products.title}} {% if products.edition %} ({{products.edition}}){% endif %}</h1>
                                <h2>{% if products.edition %}{{products.author}}{% endif %} - ISBN: {% if products.isbn %}{{products.isbn}}{% endif %}</h2>
                                <ul class="details-boek mobile">
                                    {% if products.isbn %}   <li><span>ISBN</span><label>{{products.isbn}}</label>
                                    </li>{% endif %}
                                    {% if products.author %}     <li>
                                        <span>Author(s)</span><label>{{products.author}}</label>
                                    </li>{% endif %}
                                    <li>
                                        <span>Language</span><label>English</label>
                                    </li>
                                    {% if products.publisher %}     <li>
                                        <span>Publisher</span><label>{{products.publisher}}</label>
                                    </li>{% endif %}
                                    {% if products.edition %}   <li>
                                        <span>Edition</span><label>{{products.edition}}</label>
                                    </li>{% endif %}
                                </ul>
                                <p>{% if products.description %}
                                    {{products.description|safe}}
                                </p>{% endif %}
                                <div class="cta-text-block">
                                    <a href="{% url "uploads" %}" class="sell-study-notes-cta">Start selling your book summaries</a>
                                    <a href="{% url "sell-study-notes" %}" class="search-page-url">or learn more about selling on AnswerDone →</a>
                                </div>
                            </div>
                        </div>
                        {% if chapters %}
                        <div class="results-filter results-search-filter content-attention" id="content-page-recommendations" style="padding: 1rem;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding main-heading-border">
                                <h3>Chapter(s) :</h3>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div class="accordion">
                                    
                            {% for chapter_no, chapter_data in chapters.items %}
                            <div class="accordion-item">
                                <a class="faq-link">Chapter: {{ chapter_no }}</a>
                                <div class="content">
                                    {% for qa_type, questions in chapter_data.items %}
                                        {% if questions %}
                                            <ul class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
                                                <p style="font-weight: 700; margin-bottom: unset;">{{ qa_type }}:</p>
                                                {% for question in questions %}
                                                    <li class="solution-for-problem col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                                        <a href="{{ question.get_absolute_url }}">{{ qa_type|slice:":1" }}-{{ question.question_no }}</a>
                                                        &nbsp;&nbsp;&nbsp;
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                                    
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding main-heading-border" style="padding-bottom:3rem;">
                                <h3></h3>
                            </div>
                        </div>{% endif %}
                        <div class="books-popular">
                            <div class="title-list">
                                <h2>Related books to Becoming a Master Manager</h2>
                                <p>Was a summary of Becoming a Master Manager not exactly what you were looking for? Perhaps a document from these related books can help you further.</p>
                            </div>
                            <div class="listing-book">
                                {% for product in latest_products %}
                                <div class="book-item">
                                    {% if product.image %}
                                    <img loading="lazy" width="56" height="80" src="{{product.image.url}}">
                                    {% else %}
                                    <img loading="lazy" width="56" height="80" src="{% static 'statics/img/essentie_focus.png' %}">
                                    {% endif %}
                                    <a href="{% url 'product_detail' product.category.slug product.slug %}" title="{{product.title}}" class="book-identity">
                                        <h4>{{product.title}}</h4>
                                        <p> {% if product.author %}{{product.author}}{% endif %} {% if product.isbn %}• ISBN {{product.isbn}}{% endif %}</p>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="div-sub-text">
                            <h2>Why study with the book summaries on AnswerDone?</h2>
                            <div class="sub-div">
                                <div>
                                    <img loading="lazy" width="630" height="260" src=" {% static 'statics/img/group.avif' %}" alt="girl_laptop_stairs">
                                </div>
                                <div>
                                    <p>Relevance, efficiency and convenience. These are important elements when studying or preparing for a course or exam. Studying with the help of book summaries, which are linked to the ISBN number of your (study) book, is more relevant than ever. Your fellow students or tutors are sharing their knowledge to help you prepare for your exams. Find the ISBN number of your book and you'll be sure to buy the right summary. That way you won't be faced with surprises during your exams.</p>
                                </div>
                            </div>
                            <div class="sub-div">
                                <div>
                                    <img loading="lazy" width="630" height="260" src="{% static 'statics/img/hats.avif' %}" alt="graduation hats">
                                </div>
                                <div>
                                    <p>All summaries on AnswerDone are written by students who have already taken the exam, lecturers who teach the study material or professional publishers. As a result, you can be confident that you will understand the course material more easily and that the summary contains all elements that are tested in the exam. Find the book you need to study by its ISBN and choose the best textbook summary.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <script defer="" type="text/javascript" src="/statics/94a38dae34-app.js"></script>
        <script defer="" type="text/javascript" src="/statics/6c493ca9e3-bookpage.js"></script>
        {% endblock content %}