{% extends "core/base.html" %}
{% load static %}
{% block content %}
<link rel="preload " href="{% static "statics/js/284ff1790e-infopage.js" %}" as="script">
<link rel="stylesheet" href="{% static "statics/css/df23477002-sell_study_notes_css.css" %}">
<div id="page" class="wrapper content-page content-sell-study-notes" data-type="sell-study-notes" data-variation="v3">
    <article id="content" class="site-article content-attention">

        <section class="section-content-wrapper section-stuvia-faq">
            <div class="container">
                <div class="entry-section-header">
                    <h2 class="title-section content-title">Frequently asked questions</h2>
                </div>
                <div class="listing-stuvia-faq">
                    <div class="listing-item listing-item--active">
                        <div class="header-faq">
                            <h4 class="title-faq">What is Answerdone?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>Answerdone is an online platform that offers you sell or buy your assignments. You can get the answers to your questions, or have guidance from any tutor.</p>
                            <p>The services of this site are available 24/7. Answerdone always tries to provide you a very nice service. Answerdone covers every subject from business to finance, biology to mathematics, literature to life science, and every subject in between.</p>
                            <p>You can clear your concepts and have a good preparation for the exams.</p>
                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">What kind of study material does Answerdone offers?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>Answerdone provides a space for students and tutors to share various types of study stuff and, in the end, leaving you with the maximum marks in the exams. These data include:</p>
                            <p>Lecture notes, study guide, essay, presentation, assignments, textbook explanation, and other documents related to exams. </p>
                            <p>It covers almost all the subjects like Accounting, Business culture, Corporate Finance, Financial Accounting, Management, Computer science, Health and medical, law, Mathematics, Physics, Biology, Science, Chemistry, and English.</p>
                            <p>Tutors are available 24/7, who are always there to provide the answers to your question.</p>
                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">Who is eligible to sign up at Answerdone?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>A student, tutor (or instructor), learner, or other users (buyer or seller) can sign up at Answerdone. The point to focus on is that the registration information should be authentic and correct. You can not use the information data of the second person.</p>
                            <p>
                                The minimum age of the Answerdone user should be more than 13. For further information, please visit our Terms and Conditions.
                            </p>
                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">How to search the document at Answerdone?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>There is a very simple way you can follow to search your required documents.
                                <br>
                                At the upper right corner of each page, you will find a search bar; named “Search Product.” Put your keyword and hit enter. You can find the specific document, including assignments, question answers, lecture notes, or other study documents.
                                <br>
                                You can find a specific course from the respective menu.
                                </p>                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">How do I ask the question?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>To ask a question, you must have to register at Answerdone. If you are already a member of this site, log into your account.
                                <br></br>
                                At the upper menu, hit the button named; “Post Your Question.” Make a question here and receive your answer within the shortest time.
                                </p>                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">Who can earn money on Answerdone?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>Any user (a tutor, student, or a learner) can earn on Answerdone. There are multiple ways for this purpose. You can increase your income by selling the assignment, or other study-related stuff. You can provide answers to the questions, too.</p>
                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">Which payment method can I use to purchase a document?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>To purchase any required document or assignment, click on that specific document link and add it to your cart. You have to log in to your account for this purpose.
                                <br><br>
                                Alternatively, you can click on the “Purchase Document” at the upper menu. Choose the payment method that is available in the country you live in.
                                </p>                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">Is using Answerdone cheating?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>Getting the benefit of Answerdone’s service to increase knowledge, explore a topic, or getting help in your homework or assignment is not cheating at all.
                                <br><br>
                                We state that Answerdone is mean to increase your learning skills and provide help in your studies. So, if someone misuses its services is liable to be banned by Answerdone permanently.
                                <br><br>
                                To use the Answerdone, each user has to follow the Terms specified by us. We have zero-tolerance regarding copyright and other privacy. Kindly visit our Privacy Policy for more information.
                                </p>                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">How do I get customer support?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>We love to support and help our customers. Use the “Contact Us” at the end of this page. Alternatively, 
                                you can mail us at 
                                <a href="mailto:answerdone4@gmail.com">answerdone4@gmail.com</a> or 
                                <a href="mailto:support@answerdone.com">support@answerdone.com</a>.
                                <br><br>
                                You will get a response from 24 hours to 7 days.</p>                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">Why use Answerdone?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>Answerdone lets its users learn and earn at the same time. This site welcomes every student who wants to make extra income by selling their assignments or uploading lecture notes. On the other hand, the tutor can guide the students and learners any time; and anywhere in the world.</p>
                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">What are the Questions?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>The question is any statement through which learners get help from the tutor at any time. To get all services from this site, we recommend you to make an account and have maximum advantage.</p>
                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">Does Answerdone offers some data free of cost?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>Answerdone offers you free answers of any book and paid services for assignments, both. You can access some documents free of cost, and for other documents, you have to pay. You can use your paypal account to purchase any assignment or notes. We recommend you to prefer the method that is available in your country.</p>
                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">How much can I earn per sold assignment?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>The total earning from a single document varies, depending upon the time you sold the same file. You can sell a single document from 200 to 400 times, or even more.
                                <br><br>
                                You final earning may depend upon the initial price that you set for a document. On the very busy days of exams, the demand for the best stuff increases. You will earn 70% of the set price.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cta-group-section cta-group-centered center">
                    <a href="{% url "uploads" %}" data-button-type="faq_section_start_selling" data-logged-in="false" class="cta-section cta-primary-section htsn-amplitude-2">Start selling <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </section>
        <section class="section-content-wrapper section-profit section-seo">
            <div class="container">
                <h2 class="content-title title-profit">Sell and share your summaries and study notes to others</h2>
                <p> Whether you’re studying or following a course for your work; preparation is everything. Do you always prepare for your next exam by creating study notes or summaries? AswerDone helps you to earn money online by selling your study resources to your fellow students. In that way, you can create a passive income with your study notes or summaries.</p>
            </div>
        </section>
    </article>
</div>
<script defer="" type="text/javascript" src="{% static "statics/js/c38bfd2f53-app.js" %}"></script>
<script defer="" type="text/javascript" src="{% static "statics/js/284ff1790e-infopage.js" %}"></script>
{% endblock content %}