{% extends "core/base.html" %}
{% load static %}
{% block content %}
<link rel="preload " href="{% static "statics/js/284ff1790e-infopage.js" %}" as="script">
<link rel="stylesheet" href="{% static "statics/css/df23477002-sell_study_notes_css.css" %}">
<div id="page" class="wrapper content-page content-sell-study-notes" data-type="sell-study-notes" data-variation="v3">
    <article id="content" class="site-article content-attention">
        <div class="container no-pt">
            <section class="section-content-wrapper section-hero-sell-study">
                <div class="section-hero-sell-study-text">
                    <div class="container">
                        <h1 class="title-hero-sell-study">Sell your study notes in a split second</h1>
                    </div>
                    <div class="cta-group-section cta-group-centered">
                        <p class="subtitle-hero-sell-study">Your study notes, summaries, study guides and other study resources are worth money. AswerDone is an online learning platform where you can sell and share your study notes to your fellow students. We offer a generous commission on every sale.</p>
                        <a href="/upload.html" data-button-type="top_header_start_selling" data-logged-in="false" class="cta-section cta-primary-section htsn-amplitude-2">Start selling <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </section>
        </div>
        <section class="section-content-wrapper bg-fullwidth">
            <img width="1600" height="600" class="images-fullwidth images-fullwidth-dekstop" src="{% static "statics/img/earning.svg" %}" alt="earn money data statistics">
        </section>
        <section class="section-content-wrapper section-whatsell">
            <div class="container">
                <h2 class="content-title">What can you sell on AswerDone?</h2>
                <p class="desc-whatsell">All of your written study documents can be sold on AswerDone, including:</p>
                <div class="whatsell-product-grid">
                    <div class="whatsell-product-item">
                        <div class="iconlist-product">
                            <i class="fal fa-file-alt" aria-hidden="true"></i>
                        </div>
                        <p class="title-whatsell-product">Summaries</p>
                    </div>
                    <div class="whatsell-product-item">
                        <div class="iconlist-product">
                            <img width="19" height="25" src="https://www.stuvia.com/hosted-imgs/app/sell-study-notes/sell_study_notes_file_1.png" alt="" loading="lazy">
                        </div>
                        <p class="title-whatsell-product">College notes</p>
                    </div>
                    <div class="whatsell-product-item">
                        <div class="iconlist-product">
                            <i class="fal fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <p class="title-whatsell-product">Assignments </p>
                    </div>
                    <div class="whatsell-product-item">
                        <div class="iconlist-product">
                            <img width="19" height="25" src="https://www.stuvia.com/hosted-imgs/app/sell-study-notes/sell_study_notes_book_1.png" alt="" loading="lazy">
                        </div>
                        <p class="title-whatsell-product">Textbook summaries</p>
                    </div>
                    <div class="whatsell-product-item">
                        <div class="iconlist-product">
                            <i class="fal fa-file-alt" aria-hidden="true"></i>
                        </div>
                        <p class="title-whatsell-product">Papers</p>
                    </div>
                    <div class="whatsell-product-item">
                        <div class="iconlist-product">
                            <img width="19" height="25" src="https://www.stuvia.com/hosted-imgs/app/sell-study-notes/sell_study_notes_file_2.png" alt="" loading="lazy">
                        </div>
                        <p class="title-whatsell-product">Essays</p>
                    </div>
                    <div class="whatsell-product-item">
                        <div class="iconlist-product">
                            <i class="fal fa-cog" aria-hidden="true"></i>
                        </div>
                        <p class="title-whatsell-product">Manuals</p>
                    </div>
                    <div class="whatsell-product-item">
                        <div class="iconlist-product">
                            <img width="19" height="25" src="https://www.stuvia.com/hosted-imgs/app/sell-study-notes/sell_study_notes_calender_1.png" alt="" loading="lazy">
                        </div>
                        <p class="title-whatsell-product">Course notes</p>
                    </div>
                    <div class="whatsell-product-item">
                        <div class="iconlist-product">
                            <img width="19" height="25" src="https://www.stuvia.com/hosted-imgs/app/sell-study-notes/sell_study_notes_contact_book_1.png" alt="" loading="lazy">
                        </div>
                        <p class="title-whatsell-product">Class notes</p>
                    </div>
                    <div class="whatsell-product-item">
                        <div class="iconlist-product">
                            <i class="fal fa-file-alt" aria-hidden="true"></i>
                        </div>
                        <p class="title-whatsell-product">Judgments</p>
                    </div>
                </div>
                <div class="warning-term-product">
                    <span class="title-warn">You can't sell the following on AswerDone</span>
                    <ul class="lists-warn-term">
                        <li><span class="warn-close">×</span> Old exams</li>
                        <li><span class="warn-close">×</span> Powerpoint class slides</li>
                        <li><span class="warn-close">×</span> Scanned (text)books</li>
                        <li><span class="warn-close">×</span> Published scientific articles</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="section-content-wrapper section-profit">
            <div class="container">
                <h2 class="content-title title-profit">How much does a seller earn at AswerDone?</h2>
                <p class="desc-profit"> By selling documents on AswerDone, you're starting to create a passive income for yourself. Besides, you've already done the work, so count your profits!</p>
                <div class="profit-grid">
                    <div class="profit-item multi-column">
                        <div class="profit-wrapper bg-yellow-alert">
                            <span class="count-profit">$40</span>
                            <div class="content-profit">
                                <p class="entry-title">Average earnings per month</p>
                                <p>
                                </p>
                            </div>
                            <div class="profit-footer">
                                <p>A seller on AswerDone can earn a few tens per month to a few hundred dollar per month</p>
                            </div>
                        </div>
                        <div class="profit-wrapper bg-dark-purple">
                            <span class="count-profit">3</span>
                            <div class="content-profit">
                                <p class="entry-title">Average number of days until your first sale</p>
                            </div>
                            <div class="profit-footer">
                                <p>Once your study document has been uploaded, AswerDone's marketing machine will start working for you right away</p>
                            </div>
                        </div>
                    </div>
                    <div class="profit-item multi-column">
                        <div class="profit-wrapper bg-cyan-strong">
                            <span class="count-profit">$3</span>
                            <div class="content-profit">
                                <p class="entry-title">Average earnings per sale</p>
                            </div>
                            <div class="profit-footer">
                                <p>Every study document you have created can be sold indefinitely. Count your profits!</p>
                            </div>
                        </div>
                        <div class="profit-wrapper bg-light-blue">
                            <span class="count-profit">12</span>
                            <div class="content-profit">
                                <p class="entry-title">Average of sold documents per month</p>
                            </div>
                            <div class="profit-footer">
                                <p>Your documents are sold from early in the morning until late at night. On weekdays and weekends.</p>
                            </div>
                        </div>
                    </div>
                    <div class="profit-item">
                        <div class="profit-wrapper stats-image-1">
                            <img height="564" width="358" src="{% static "statics/img/piggy-bank.jpg" %}" alt="" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section-content-wrapper section-benefits">
            <div class="container">
                <h2 class="content-title">Sell your Docs or Note in an instant way</h2>
                <div class="benefits-card">
                    <div class="benefits-item">
                        <div class="benefits-wrapper">
                            <span class="benefit-number">1</span>
                            <div class="benefits-number-logo">
                                <figure class="thumbnail-benefits">
                                    <img src="{% static 'statics/img/brain_money.png' %}" alt="" loading="lazy" width="216" height="150">
                                </figure>
                            </div>
                            <div class="benefits-content">
                                <p class="entry-title">Your knowledge is worth money</p>
                                <p class="col-excerpt">Did you write textbook summaries or notes? These documents are worth money!</p>
                            </div>
                        </div>
                    </div>
                    <div class="benefits-item">
                        <div class="benefits-wrapper soft-blue-special">
                            <span class="benefit-number">2</span>
                            <div class="benefits-number-logo">
                                <figure class="thumbnail-benefits">
                                    <img src="{% static 'statics/img/file_upload.png' %}" alt="" loading="lazy" width="216" height="150">
                                </figure>
                            </div>
                            <div class="benefits-content">
                                <p class="entry-title">Easy uploading</p>
                                <p class="col-excerpt">In less than a minute, you have created an account, set the price of your document and started selling!</p>
                            </div>
                        </div>
                    </div>
                    <div class="benefits-item">
                        <div class="benefits-wrapper bg-cyan-soft">
                            <span class="benefit-number">3</span>
                            <div class="benefits-number-logo">
                                <figure class="thumbnail-benefits">
                                    <img src="{% static 'statics/img/safe_money.png' %}" alt="" loading="lazy" width="216" height="150">
                                </figure>
                            </div>
                            <div class="benefits-content">
                                <p class="entry-title">Make money quickly</p>
                                <p class="col-excerpt">Each time your document is sold, you earn money. This money is immediately credited to your account.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-content-wrapper section-how-work">
            <div class="container">
                <div class="section-how-work-intro">
                    <h2 class="content-title">How does it work?</h2>
                    <p class="desc-how-work">Did you write summaries of your textbooks while preparing for an exam? Or did you write notes each class? You can now earn money with your knowledge. Well-written summaries receive great reviews. Resulting in more sales and higher earnings.</p>
                </div>
                <div class="how-work-grid">
                    <div class="how-work-item">
                        <div class="media-how-work">
                            <div class="iconlist-product">
                                <i class="far fa-copyright"></i>
                            </div>
                            <h4>You’re the boss</h4>
                        </div>
                        <div class="content-how-work">
                            <p>You always retain ownership of your documents. Customers only have the rights to read your work for personal use. It’s forbidden for them to distribute your work to others. </p>
                        </div>
                    </div>
                    <div class="how-work-item">
                        <div class="media-how-work">
                            <div class="iconlist-product">
                                <i class="far fa-search"></i>
                            </div>
                            <h4>Be found</h4>
                        </div>
                        <div class="content-how-work">
                            <p>Write a catchy title and solid description of your documents, so customers can easily find your summaries online - such as Google for example.</p>
                        </div>
                    </div>
                    <div class="how-work-item">
                        <div class="media-how-work">
                            <div class="iconlist-product">
                                <img width="20" height="19" src="https://www.stuvia.com/hosted-imgs/app/sell-study-notes/sell_study_notes_slider_1.png" alt="" loading="lazy">
                            </div>
                            <h4>Set the best price</h4>
                        </div>
                        <div class="content-how-work">
                            <p>You set the price for your study notes and documents. You can even make discounted package deals of your top summaries to attract even more customers.</p>
                        </div>
                    </div>
                    <div class="how-work-item">
                        <div class="media-how-work">
                            <div class="iconlist-product">
                                <i class="far fa-share-alt"></i>
                            </div>
                            <h4>Use the AswerDone Network</h4>
                        </div>
                        <div class="content-how-work">
                            <p>As soon as your documents are online, we include them on the right AswerDone pages that are search traffic optimized. We also send notifications to members interested in your field of study. </p>
                        </div>
                    </div>
                    <div class="how-work-item">
                        <div class="media-how-work">
                            <div class="iconlist-product">
                                <i class="far fa-star" aria-hidden="true"></i>
                            </div>
                            <h4>Score top reviews</h4>
                        </div>
                        <div class="content-how-work">
                            <p>Improve your online reputation by getting high scoring reviews. This is a great way to generate more sales.  </p>
                        </div>
                    </div>
                    <div class="how-work-item">
                        <div class="media-how-work">
                            <div class="iconlist-product">
                                <img width="20" height="19" src="https://www.stuvia.com/hosted-imgs/app/sell-study-notes/sell_study_notes_file_2.png" alt="" loading="lazy">
                            </div>
                            <h4>Earn money from each summary</h4>
                        </div>
                        <div class="content-how-work">
                            <p>Some documents sell hundreds of times. Once your documents are on AswerDone, your work is done. Sit back, relax and start making money!</p>
                        </div>
                    </div>
                </div>
                <div class="row-knowledge-store">
                    <div class="col-media-knowledge">
                        <figure class="figure-bestseller-video popup_main">
                            <img width="340" height="210" src="{% static 'statics/img/desktop-with-laptop-mobile-phone.jpg' %}" alt="laptop phone knowledge" loading="lazy">
                        </figure>
                    </div>
                    <div class="col-aside-knowledge">
                        <div class="content-knowledge">
                            <h4>Create your personal study store</h4>
                            <p>Create a free sellers account, set the price of your documents and upload them on AswerDone. That's it! Help others with your knowledge while earning money.</p>
                        </div>
                        <div class="cta-group-section">
                            <a href="/upload.html" data-button-type="study_store_start_selling" data-logged-in="false" class="cta-section cta-primary-section htsn-amplitude-2">Start selling <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-content-wrapper section-stuvia-faq">
            <div class="container">
                <div class="entry-section-header">
                    <h2 class="title-section content-title">Frequently asked questions</h2>
                </div>
                <div class="listing-stuvia-faq">
                    <div class="listing-item listing-item--active">
                        <div class="header-faq">
                            <h4 class="title-faq">What do I earn by selling my content on AswerDone?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>You set your own price per document with a minimum amount of $2.50. The more documents you sell, the more you earn. Some documents are sold more than a hundred times. Find tips on how to sell the most <a href="/selltips">here</a>.</p>
                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">What does it cost to sell on AswerDone?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>Nothing! You create a free account and post your work to AswerDone without further costs. cost. We take a small commission each time you sell a summary. The commission will be automatically deducted, so you don’t have to worry about any hidden costs after your payout.</p>
                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">When will I receive my earned money from AswerDone?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p>We transfer your earned money into your AswerDone account right after you’ve sold a document. Once you’ve earned over €10 , you can cash out. We transfer this money every Monday so you can decide when you want to be paid. You can also use this credit to buy study material for yourself!</p>
                        </div>
                    </div>
                    <div class="listing-item">
                        <div class="header-faq">
                            <h4 class="title-faq">How does AswerDone deal with copyright?</h4>
                            <span class="icon-faq"><i class="far fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="content-faq">
                            <p class="line-height">There are a number of things to consider when writing a good summary without violating copyright. For example, you are not allowed to copy texts literally but you are allowed to quote them. You must make correct citations when doing this. </p>
                            <p class="line-height">Would you like to be sure that you meet the copyright requirements? AswerDone has a helpful checklist for just that, which can be found <a href="/copyright/AswerDone-and-copyright#sectie8" class="slow-scroll" _target="blank">here</a>. </p>
                        </div>
                    </div>
                </div>
                <div class="cta-group-section cta-group-centered center">
                    <a href="/upload.html" data-button-type="faq_section_start_selling" data-logged-in="false" class="cta-section cta-primary-section htsn-amplitude-2">Start selling <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </section>
        <section class="section-content-wrapper section-profit section-seo">
            <div class="container">
                <h2 class="content-title title-profit">Sell and share your summaries and study notes to others</h2>
                <p> Whether you’re studying or following a course for your work; preparation is everything. Do you always prepare for your next exam by creating study notes or summaries? AswerDone helps you to earn money online by selling your study resources to your fellow students. In that way, you can create a passive income with your study notes or summaries.</p>
            </div>
        </section>
    </article>
</div>
<script defer="" type="text/javascript" src="{% static "statics/js/c38bfd2f53-app.js" %}"></script>
<script defer="" type="text/javascript" src="{% static "statics/js/284ff1790e-infopage.js" %}"></script>
{% endblock content %}